.history-container {
   width: 50vw;;
  
  padding: 50px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.history-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.no-history {
  color: #888;
  font-style: italic;
}

.history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  padding: 10px;
  margin: 6px 0;
  background-color: #ffffff;
  color: rgb(34, 32, 32);
  border-radius: 5px;
  font-weight: bold;
}

.clear-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #c82333;
}
.btn-main{
  display: flex;
align-items: flex-start;
justify-content: flex-start;



}
